// add Iosevka font face from public folder
@font-face {
  font-family: 'Iosevka';
  src: url('../public/fonts/iosevka/iosevka-ss09-thin.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Iosevka';
  src: url('../public/fonts/iosevka/iosevka-ss09-extralight.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Iosevka';
  src: url('../public/fonts/iosevka/iosevka-ss09-light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Iosevka';
  src: url('../public/fonts/iosevka/iosevka-ss09-regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Iosevka';
  src: url('../public/fonts/iosevka/iosevka-ss09-medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Iosevka';
  src: url('../public/fonts/iosevka/iosevka-ss09-semibold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Iosevka';
  src: url('../public/fonts/iosevka/iosevka-ss09-bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Iosevka';
  src: url('../public/fonts/iosevka/iosevka-ss09-extrabold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Iosevka';
  src: url('../public/fonts/iosevka/iosevka-ss09-heavy.ttf');
  font-weight: 900;
  font-style: normal;
}


@font-face {
  font-family: 'JetBrains Mono';
  src: url('../public/fonts/jetbrains-mono/JetBrainsMono-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../public/fonts/jetbrains-mono/JetBrainsMono-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../public/fonts/jetbrains-mono/JetBrainsMono-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../public/fonts/jetbrains-mono/JetBrainsMono-Extrabold.ttf');
  font-weight: 800;
  font-style: normal;
}

:root {
  --primary-color-value: 0, 0%, 100%; // white
  --primary-color: hsl(var(--primary-color-value));
  --primary-color-transparent: hsla(var(--primary-color-value), .7);
  --accent-color-value: 190, 100%, 60%;
  --accent-color: hsl(var(--accent-color-value));
  --accent-color-transparent: hsla(var(--accent-color-value), .6);
}

html,
body {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  line-height: 1.6;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0 .25rem;
  font-family: 'Iosevka', monospace;
}

p {
  margin: .5rem 0 .75rem;
}

a {
  cursor: pointer;
}

hr {
  border-color: hsla(0, 0%, 100%, .12);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--primary-color-transparent);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 100%;
}

div.img {
  position: relative;
  height: 384px;
}

p img + em,
p div.img + em {
  display: inline-block;
  width: 100%;
  text-align: center;
}
